
*{
    border:0;
    margin:0;
    padding:0;
}

dl,dt,dd{
    margin: 0;
    padding: 0;
    display: block;
}

.topleft{
    background: url(../imgs/topbg.gif);
    height: 88px;
}
.topleft_l{
    float: left;
}
.nav{
    float: left;
    display: block;
}
.nav li{
    float: left;
    position: relative;
    height: 87px;
    width: 88px;
    text-align: center;
}
.nav li img{
    margin-top: 10px;
}
.nav li:hover{
    background-color: rgba(250, 235, 215,0.2);
}
.nav a{
    display: block;
    color: #fff;
}
.nav span{
    position: absolute;
    left: 18px;
    top: 60px;
    font-size: 14px;
}
.topright{
    float: right;
    position: absolute;
    right: 10px;
    top: 10px;
}
.topright li span{
    position: absolute;
    left: -20px;
    top: 3px;
}
.topright li{
    float: left;
    padding-right: 5px;
    position: relative;
}
.topright a{
    color: #b7d5df;
}

.topright .user{
    color: #b7d5df;
    position: absolute;
    right: 0px;
    top: 25px;
    width: 170px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    background: url(../imgs/userbg.png);
}
.topright .user span{
    background: url(../imgs/user.png) no-repeat 0 9px;
    display: block;
    float:left;
    padding-left: 18px;
    margin-left: 10px;
}
.topright .user p{
    display: block;
    float: right;
    margin-right: 15px;
}
.topright .user p b{
    display: block;
    float: right;
    background: url(../imgs/msg.png);
    width: 14px;
    height: 19px;
    margin-top: 5px;
    line-height: 19px;
    padding-left: 5px;
}

.lefttop{
    background: url(../imgs/lefttop.gif);
    height: 40px;
    color: #fff;
    font-size: 14px;
    line-height: 40px;
}

.lefttop span{
    margin: 10px 8px 0px 8px;
    background: url(../imgs/leftico.png);
    width: 20px;
    height: 21px;
    float: left;
}
.title{
    /* curser属性定义鼠标指针放在title范围内显示为一只手 */
    cursor: pointer;
}

.leftmenu{
    width: 187px;
    padding-bottom: 9999px;
    margin-bottom: -9999px;
    /* overflow: hidden; */
    background: url(../imgs/leftline.gif) repeat-y right;
}

.leftmenu dd{
    background: url(../imgs/leftmenubg.gif) repeat-x;
    line-height: 35px;
    font-weight: bold;
    font-size: 14px;
    border-right: solid 1px #b7d5df;
}

.leftmenu dd span{
    float: left;
    margin: 3px 8px 0px 12px;
    height: 16px;
}
ul{
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menuson{
    line-height: 30px;
    font-weight: normal;
}

li{
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
/* ：active是对按下的标签生效，.是对class=active的标签生效 */
.menuson li.active cite{
    background: url(../imgs/list1.gif);
}
.menuson li cite{
    display: block;
    float: left;
    margin-left: 32px;
    background: url(../imgs/list.gif) no-repeat;
    width: 16px;
    height: 16px;
    margin-top: 7px;
}

a{
    text-decoration: none;
    color: #000;
}

a:hover{
    color: rgba(13, 13, 161, 0.5);
}

.menuson li.active{
    position: relative;
    background: url(../imgs/libg.png) no-repeat;
    line-height: 30px;
    color: #fff;
}

.menuson li.active i{
    display: block;
    background: url(../imgs/sj.png);
    width: 6px;
    height: 11px;
    position: absolute;
    right: 0;
    z-index: 10000;
    top: 9px;
    right: -1px;
}

.menuson li.active a{
    color: fff;
}

.menuson li a{
    display: block;
}